.cormorant-garamond-light {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
}

.cormorant-garamond-regular {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
}

.cormorant-garamond-medium {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: normal;
}

.cormorant-garamond-semibold {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: normal;
}

.cormorant-garamond-bold {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: normal;
}

.cormorant-garamond-light-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: italic;
}

.cormorant-garamond-regular-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: italic;
}

.cormorant-garamond-medium-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: italic;
}

.cormorant-garamond-semibold-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: italic;
}

.cormorant-garamond-bold-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: italic;
}








body{
    height: 900px;
    width: 900px;
    background-color: #C7BFE6;
}
#nav li{
    list-style-type: none;
    display: inline;

}
#nav a{
    text-decoration: none;
    color: white;

padding: 4px;

}
#nav{
    border: 4px solid white;
   border-radius: 20px;
    padding: 4px;
}
#sr img{
    float: right;
    margin-top: -40px;
    margin-right: 30px;
    color: white;
}


#s{
    height: 30px;
    width: 300px;
    background-color: white;
    border-radius: 20px;
    margin-left: 500px;
    margin-top: -30px;
    padding: 2px;
}
#r{
    margin-left: 250px;
    margin-top: 2px;
}
#main{
    width: 100%;
    height: 400px;
    background-color: white;
    margin-top: 15px;
    border-radius: 20px;
}
#footer{
    margin-top: 30px;
    width: 100%;
    height: 300px;
    background-color: white;
    border-radius: 20px;
}
#sliki{
    margin-top: 30px;
    border-radius: 20px;
    float: right;
    margin-right: 40px;
}
#main h1{
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: italic;
    font-size: 60px;
   padding-top: 200px;
    margin-left: 40px;
}


#wrap{
    display: flex;
    flex-direction: row;
}
#1{
    background: #C7BFE6;
    height: 50px;
    width: 50px;
}
#n{
    margin-left: 400px;
}
h3{
   margin-left: 500px;
    margin-top: -100px;
}
#b{
    margin-left: 500px;
    border: 2px solid black;
}
#b a:hover{
    color: #b68ae6;
}
#b a{
    text-decoration: none;
    color: black;
}
#sk{
    margin-left: -500px;
}
.naslov{
    margin-left: -400px;
    margin-top: 50px;
}
#but{
    margin-left: -400px;
    border: 2px solid black;
    margin-top: -50px;
}
#but a{
    text-decoration: none;
    color: black;
}
#but a:hover{
    color: #b68ae6;
}
#sl2{
    margin-left: -400px;
    margin-top: 70px;
}
#v{
    margin-top: 50px;
    margin-left: -50px;
}
#ba{
    margin-top: 5px;
    border: 2px solid black;
}
.title{
    margin-left: -10px;
    margin-top: -50px;
}
#ba a{
    text-decoration: none;
    color: black;
}
#ba a:hover{
    color: #b68ae6;
}
#sl3{
    margin-left: -800px;
    margin-top: 30px;
}
.nas{
    margin-left: -750px;
    margin-top: 200px;

}
#a{
    margin-top: 250px;
    height: 20px;
    margin-left: -80px;
    border: 2px solid black;
}
#a a{
    text-decoration: none;
    color: black;
}
#a a:hover{
    color: #b68ae6;
}
#body{
background: lightblue;

}
#me{
    margin-left: 40px;
}
#pets img{
   border-radius: 50%;
}

#k{
    border-radius: 50%;
    margin-top: 30px;
    border: 5px solid white;

}
#pets p{
  margin-left: 60px;
    margin-top: 50px;

}
#hobi{
    height: 300px;

}
#tv{
    margin-top: 50px;

  height: 200px;
}
#tv h2{
    text-align: center;
    background-color: lightyellow;
}
#gallery{
    background-color: lightyellow;
    height: 200px;
    width: 800px;
    margin-left: 30px;
    margin-top: 30px;

}
#books h2{
    text-align: center;
    background-color: lightyellow;
}
#books{
    margin-top: 50px;

    height: 150px;
}
#books img:first-of-type{
    margin-left: 100px;
}
#tv img:first-of-type{
    margin-left: 50px;
}
#p1{
    margin-left: 40px;
    margin-top: 40px;

    transition: transform .2s;
}
#books img:hover{
    transform: scale(1.5);
}
#book img{
    transition: transform .2s;
}
#p1:hover{
    transform: scale(1.5);
}
#p2{

    transition: transform .2s;
}
#p2:hover{
    transform: scale(1.5);
}
#p3{

    transition: transform .2s;
}
#p3:hover{
    transform: scale(1.5);
}
#p4{

    transition: transform .2s;
}
#p4:hover{
    transform: scale(1.5);
}
#p5{

    transition: transform .2s;
}
#p5:hover{
    transform: scale(1.5);
}
#gallery h2{
    text-align: center;
}
#tv img{
    transition: transform .2s;
}
#tv img:hover{
    transform: scale(1.5);
}
#opis p{

    width: 400px;
    margin-left: 100px;
}
#travel{
    background-color: #ff8e63;
}

#main>h2{
  margin-left: 350px;
    margin-right: 350px;
    color: white;
}
#p1{
    margin-left: 10px;
    margin-top: -20px;
}
#glaven{
    height: 700px;
    width: 100%;
    padding-top: -20px;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
}
#glaven>h2{
    margin-left: 250px;
    padding-top: 50px;
}
#insta{
    border-radius: 50%;
    margin-left: 30px;
    margin-top: -60px;
}
#glaven>p{
    margin-left: 30px;
}
.sliki{
    border-radius: 50%;
    margin-top: 30px;
}
#glaven img{
    display: flex;
    flex-direction: row;
}
#glaven img:nth-of-type(2){
    margin-left: 200px;
}
#glaven img:nth-of-type(3){
    margin-left: 310px;
    margin-top: -155px;

}
#glaven img:nth-of-type(4){
    margin-left: 430px;
    margin-top: -155px;
}
#glaven img:nth-of-type(5){
    margin-left: 550px;
    margin-top: -155px;
}
#glaven>h4:first-of-type{
margin-left: 200px;
}
#glaven>h4:nth-of-type(2){
    margin-left: 330px;
}
#glaven>h4:nth-of-type(3){
    margin-left: 450px;
}
#glaven>h4:nth-of-type(4){
   margin-left: 570px;
}
.gallery{
    display: flex;
    flex-direction: row;

}
.k{
    margin-top: -250px;
    margin-left: 10px;
}
.gallery2{
    display: flex;
    flex-direction: row;
}
.d{
margin-top: -120px;
    margin-left: 10px;

}
#boja{

background-color: #FFFFFF;
}
#nav2 a{
    color: lightpink;
    text-decoration: none;
}
#nav2 li{
    display: inline;
    padding: 4px;
}
#nav2{
    border: 4px solid lightpink;
    border-radius: 20px;
}


#t{
   margin-left: 300px;
    margin-right: 300px;
}
.jazik{
    margin-left: 400px;
    margin-top: 200px;
    border: 5px solid white;
    border-radius: 3px;
    width: 350px;
}
span{
    color: white;
    font-weight: bolder;
}
.jazik div:first-of-type{
    height: 10px;
    width: 200px;
    background-color: white;
    margin-left: 100px;
    margin-top: -30px;
    border-radius: 5px;
}
.jazik div:nth-of-type(2){
    height: 10px;
    width: 200px;
    background-color: white;
    margin-left: 100px;
 margin-top: -10px;
    border-radius: 5px;
}
.jazik div:nth-of-type(3){
    height: 10px;
    width: 150px;
    background-color: white;
    margin-left: 100px;
margin-top: -10px;
    border-radius: 5px;
}
.jazik div:nth-of-type(4){
    height: 10px;
    width: 90px;
    background-color: white;
    margin-left: 100px;
    margin-top: -10px;
    border-radius: 5px;
}

.obrazovanie{
  margin-top: -450px;
    border: 5px solid white;
    width: 400px;
    border-radius: 3px;
    margin-left: 350px;

}
#pets p{
    color: white;
    font-weight: bolder;
}
#me p{
    color: white;
    font-weight: bolder;
}
.spec{
border: 2px solid white;
    width: 450px;
}
#pets img{
    border: 5px solid white;
}
#pets{
    margin-top: 200px;
}
#f{
    margin-left: 40px;
}
#f a{
    color: white;
    text-decoration: none;
}

#f li{
    display: inline;
    margin-right: 50px;

}
#f li:first-of-type{
    margin-left: 150px;
}
#f{
    position: absolute;
    bottom: 0;
    left: 0;
    border: 2px solid white;
    border-radius: 3px;
   width: 800px;
}
.jazik span{
    padding-left: 10px;

}
#c{
    border-radius: 5px;
    margin-left: 300px;
    margin-top: 100px;
}
#info{
    margin-top: 240px;
    margin-left: -200px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: italic;
}
#f2{
    position: absolute;
    bottom: 0;
    left: 0;
    border: 2px solid lightpink;
    border-radius: 3px;
    width: 800px;
}
#f2 li{
    display: inline;
    margin-right: 50px;
}
#f2 li:first-of-type{
    margin-left: 150px;
}
#f2 a{
    color: lightpink;
    text-decoration: none;
}
#travel img{
    transition: transform .2s;
}

#travel img:hover{
    transform: scale(1.5);
}
.obrazovanie a{
   color: black;
}